/* <!-- ==================START NAVBAR============================ --> */

.nav-link:hover::after,
.nav-link.active::after {
    content: '';
    display: block;
    height: .125rem;
    background-color: var(--text-main-color);
    position: relative;
    top: 1.375rem;
}

.dropdown-toggle::after {
    border-top: none;
}

.scrollable-menu {
    max-height: 7.8125rem;
    padding: .75rem .625rem;
    overflow-y: scroll;
}

.dropdown-menu[data-bs-popper] {
    right: 0rem;
    left: auto;
    top: 2.5rem;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--grey-100);
}

.dropdown-menu .search-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.875rem;
    border: .0625rem solid var(--grey-100);
    border-radius: 1.25rem;
    margin-bottom: .625rem;
    padding: 0 .3125rem 0 .3125rem;
}

.search {
    width: 5.625rem;
    border: none;
}

.dropdown-menu .search-icon {
    color: var(--grey-100);
}


.dropdown-item.active {
    color: inherit;
    background-color: var(--bg-secondary-color);
}

#sidebar .nav-item a.active::after,
#sidebar .nav-item a:hover::after {
    content: '';
    display: block;
    height: .125rem;
    width: 100%;
    background-color: var(--text-main-color);
    top: .3125rem;
}


#sidebar .offcanvas {
    background-image: url('../images/home/bg/healthy.webp');
    margin: .5rem;
}

#sidebar .offcanvas .ovarlay {
    background-color: rgba(255, 255, 255, 0.938);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.close-sidebar {
    width: 2rem;
    height: 2rem;
}

/* <!-- ==================END NAVBAR============================== --> */
/* <!-- ==================START HERO SECTION====================== --> */
#hero-section {
    background: url('../images/home/bg/green-bg-en.webp') no-repeat;
    background-size: 100% 100%;
    min-height: calc(100vh - 7.4375rem);
}

.rtl #hero-section {
    background: url('../images/home/bg/green-bg-ar.webp') no-repeat;
    background-size: 100% 100%;
    min-height: calc(100vh - 7.4375rem);
}

#hero-section .fs-md {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
}

#hero-section .hero-image-container {
    width: 90%;
    display: block;
    margin: auto;
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 0px) and (max-width: 576px) {

    #hero-section .hero-text-container .fs-md {
        font-size: 1.75rem;
    }
}

/* Media Query for tablet Devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    #hero-section .hero-text-container .fs-md {
        font-size: 2.8125rem;
    }
}

/* <!-- ==================END HERO SECTION============================ --> */

/* <!-- ==================START SERVICES SECTION====================== --> */
#services-section {
    background: url('../images/services/bg/services-section.webp');
    background-size: cover;
    background-position: top center;
}

.services-layer {
    background-color: rgba(0, 0, 0, 0.575);
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* <!-- ==================END SERVICES SECTION========================= --> */